@import "tailwindcss";

:root {
  color-scheme: dark;
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v31-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/montserrat-v31-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v31-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v31-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v31-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v23-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jetbrains-mono-v24-latin-regular.woff2") format("woff2");
}

@theme {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;

  --font-sans: "Montserrat", system-ui, sans-serif;
  --font-logo: "Poppins", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --text-5xl: 2.5rem;
  --text-6xl: 3rem;

  --color-black: #242b2f;
  --color-white: #fafafa;
  --color-gray-text: #d9d9d9;
  --color-dark-gray-text: #414141;
  --color-black-line: rgba(0, 0, 0, 0.4);
  --color-white-line: rgba(255, 255, 255, 0.4);

  --text-shadow-header-black: -4px -4px 4px rgb(145 145 145 / 0.6);
  --text-shadow-yellow: 4px 4px 4px rgb(219 255 0 / 0.3);
  --text-shadow-blue: 4px 4px 4px rgb(54 208 218 / 0.3);
  --text-shadow-pink: 4px 4px 4px rgb(228 147 205 / 0.3);
  --text-shadow-green: 4px 4px 4px rgb(106 237 94 / 0.3);
}

.section-wrapper {
  @apply flex flex-col mx-auto max-w-7xl px-3 md:px-6 lg:px-8 items-center;
}
.section-margin-top {
  @apply mt-16 md:mt-24 lg:mt-32;
}
.section-margin-bottom {
  @apply mb-16 md:mb-24 lg:mb-32;
}
.section-header {
  @apply flex w-full py-12 px-6 md:p-16 lg:p-24;
}
