---
import HowIWork from "../components/HowIWork.astro";
import Manifest from "../components/Manifest.astro";
import Services from "../components/Services.astro";
import Testimonies from "../components/Testimonies.astro";
import WhatIDo from "../components/WhatIDo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full bg-[linear-gradient(251deg,rgba(36,41,47,0.2)_88%,rgba(255,208,245,0.2)_100%)]">
    <WhatIDo />
    </div>
    <HowIWork />
    <Manifest />
    <Services />
    <Testimonies />
</Layout>
