---
import { ArrowRight } from "@lucide/astro";
---

<div class="section-wrapper dark-bg">
  <section id="Contact" class="flex w-full border-x border-white-line">
    <div
      class="section-margin-top section-margin-bottom flex flex-col lg:flex-row w-full lg:items-start"
    >
      <header class="flex justify-center py-16 px-6 md:p-16 w-full">
        <h2
          class="font-bold text-3xl lg:text-5xl xl:text-6xl text-shadow-header-black leading-tight"
        >
          Got a project in the pipeline?
        </h2>
      </header>
      <form
        id="contact-form"
        method="POST"
        action="https://formspree.io/f/meolypyv"
        class="flex flex-col w-full lg:max-w-xl lg:border-l border-white-line"
      >
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name *"
          class="xl:text-xl p-4 border-b border-t border-white-line"
          required
        />
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Email *"
          class="xl:text-xl p-4 border-b border-white-line"
          required
        />
        <textarea
          id="message"
          name="message"
          placeholder="Tell me a bit about your project... *"
          class="xl:text-xl h-64 p-4 border-b border-white-line"
          required></textarea>

        <button
          type="submit"
          id="submit"
          class="flex justify-between cursor-pointer p-4 border-b border-white-line hover:bg-white/5 active:bg-white/10"
        >
          <span class="font-medium xl:text-xl">Submit</span>
          <ArrowRight class="w-6 h-6" />
        </button>
      </form>
    </div>
  </section>
</div>
