<div class="section-wrapper">
  <section
    id="Contact"
    class="flex w-full border-x border-white-line"
  >
    <div class="section-margin-top section-margin-bottom flex-col md:flex-row w-full">
    <header>
      <h2>Got a project in the pipeline?</h2>
    </header>
    <form>
      <div>
        <label for="full_name">Your name</label>
        <input type="text" id="full_name" name="name" />
      </div>
    </form>
  </div>
  </section>
</div>
