<div id="Footer" class="section-wrapper">
  <div class="w-full border-x border-b border-white-line">
    <footer class="flex justify-evenly mt-16 w-full">
      <div>
        <span><a>EN</a>/<a></a></span>
      </div>
      <p class="mx-auto font-mono tracking-[0.25em] text-xs p-6 text-white/70">
        built &amp; designed by Javier
      </p>
    </footer>
  </div>
</div>
