---
import { ArrowRight } from "@lucide/astro";
import Logo from "../assets/Logo.svg";
---

<div class="section-wrapper">
  <header class="flex w-full py-4 px-1 justify-between items-center">
    <a href="/" aria-label="Home" class="flex items-center">
      <Logo class="h-9 w-auto" />
    </a>
    <a role="button" href="#Services" class="flex gap-1 px-3 py-2 items-center rounded-xl bg-white hover:bg-offwhite active:bg-white-blue border border-gray-blue">
      <span class="font-medium text-black">Start a Project</span>
      <ArrowRight class="h-4 w-4 stroke-[2.5] text-black" />
    </a>
  </header>
</div>
