---
import { ArrowRight } from "@lucide/astro";
import Logo from "../assets/Logo.svg";
---

<div class="section-wrapper position: sticky top-0 z-50 backdrop-blur-md">
  <header class="flex w-full py-4 px-1 max-h-16 justify-between items-center">
    <a href="/" aria-label="Home" class="flex items-center">
      <Logo class="h-9 w-auto" />
    </a>
    <nav class="hidden lg:flex list-none w-full justify-center gap-6">
      <li>
        <a role="link" href="#WhatIDo" class="hover:text-white-blue"
          >what I do</a>
      </li>
      <li>
        <a role="link" href="#HowIWork" class="hover:text-white-blue"
          >how I work</a>
      </li>
      <li>
        <a role="link" href="#Manifest" class="hover:text-white-blue"
          >manifest</a>
      </li>
      <li>
        <a role="link" href="#Services" class="hover:text-white-blue"
          >services</a>
      </li>
      <li>
        <a role="link" href="#Testimonies" class="hover:text-white-blue"
          >testimonies</a>
      </li>
      <li>
        <a role="link" href="#Contact" class="hover:text-white-blue">contact</a>
      </li>
    </nav>
    <a
      role="button"
      href="#Services"
      class="flex gap-1 px-3 py-2 items-center rounded-xl bg-white hover:bg-offwhite active:bg-white-blue border border-gray-blue/30 whitespace-nowrap"
    >
      <span class="font-medium text-black">Start a Project</span>
      <ArrowRight class="h-4 w-4 stroke-[2.5] text-black" />
    </a>
  </header>
</div>
