---

---

<div class="section-wrapper">
  <section 
    id="Hero"
    class="dark-bg flex flex-col md:flex-row w-full min-h-[calc(100vh-64px)] items-center justify-between border-x border-black-line"
  >
    <Image src="./pfp.avif" />
    <div>
      <h1>Hi! I’m Javi</h1>
      <h2>As a developer & designer, I build custom websites for people.</h2>
    </div>
    <a>
      <span>Start a Project</span>
    </a>
  </section>
</div>
