---
import { Image } from "astro:assets";
import pfp from "../assets/images/pfp.avif";
import { ArrowRight } from "@lucide/astro";
---

<div class="section-wrapper">
  <section
    id="Hero"
    class="dark-bg flex flex-col md:flex-row-reverse w-full h-[calc(100svh-96px)] md:h-[calc(100svh-64px)] overflow-auto items-center px-6 border-x border-t border-white-line"
  >
    <div class="relative max-w-[400px] max-h-[400px] m-8 text-white-line">
      <Image
        src={pfp}
        alt="Javier's profile picture"
        width={400}
        height={400}
      />
      <div class="pointer-events-none absolute inset-0 bg-black/15"></div>
      <svg class="absolute inset-0" viewBox="0 0 400 400" aria-hidden="true">
        <circle
          cx="200"
          cy="200"
          r="199"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          vector-effect="non-scaling-stroke"></circle>
      </svg>
    </div>

    <div class="contents md:flex md:flex-col items-center">
      <div class="flex flex-col gap-3 items-start">
        <h1 class="font-bold text-3xl text-shadow-teal">Hi! I'm Javi</h1>
        <h2 class="font-medium text-xl text-shadow-teal">
          As a developer & designer, I build custom websites for people.
        </h2>
      </div>
      <div class="flex items-center h-full">
        <a
          href="#Services"
          class="flex gap-2 items-center text-white hover:text-offwhite hover:text-shadow-CTA hover:drop-shadow-CTA active:text-white-blue whitespace-nowrap"
        >
          <span class="font-bold text-3xl">Start a Project</span>
          <ArrowRight class="h-8 w-8 stroke-[3]" />
        </a>
      </div>
    </div>
  </section>
</div>
