---
import { Key, Map, PanelsTopLeft, PenTool, Shield, Users } from "@lucide/astro";
import ManifestCard from "./ManifestCard.astro";

const { t } = Astro.props;

const icons = [Shield, PenTool, Map, PanelsTopLeft, Key, Users];
---

<div class="section-wrapper dark-bg">
  <section class="flex flex-col w-full items-center border-x border-white-line">
    <header
      id="Manifest"
      class="section-header section-margin-top border-y border-white-line scroll-mt-16"
    >
      <h2
        class="intersect-once motion-delay-500 intersect:motion-preset-slide-up-lg motion-duration-[2s] mx-auto font-bold text-3xl lg:text-5xl xl:text-6xl text-center text-shadow-header-white intersect:motion-opacity-in intersect-delay-300"
      >
        {t.title}
      </h2>
    </header>

    <div
      class="section-margin-bottom grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full p-6 md:p-8 gap-6 md:gap-8 border-b border-white-line"
    >
      {
        t.cards.map((c: { title: string; desc: string }, index: number) => (
          <ManifestCard title={c.title} desc={c.desc} icon={icons[index]} />
        ))
      }
    </div>
  </section>
</div>
