---

interface Props {
  title: string;
  desc: string;
  icon: any;
}

const { title, desc, icon:Icon } = Astro.props as Props;
---

<article
  class={`group flex flex-col py-5 px-6 xl:py-6 xl:px-7 gap-3 lg:gap-4 xl:gap-5
              transition-all duration-700 outline outline-transparent hover:outline-white-line hover:outline-offset-0 outline-offset-12
              rounded-xl border-2 border-white-line outline-shadow-card`}
>
  <div class="group-hover:text-gray-300">
    <header class="flex items-center gap-3 xl:gap-4">
      <Icon class="w-5 h-5 md:w-6 md:h-6 lg:w-8 lg:h-8" />
      <h3 class={`font-semibold text-xl xl:text-2xl`}>{title}</h3>
    </header>
  </div>
  <p class={`text-gray-text`}>{desc}</p>
</article>

