---
import LanguageToggle from "./LanguageToggle.astro";
import Navigation from "./Navigation.astro";
---

<aside class="flex justify-center items-center">
  <div>
    <LanguageToggle />
    <Navigation />
  </div>
</aside>