---
interface Props {
  text: string;
  class?: string;
}

const { text, class:extraClass } = Astro.props as Props;
---

<div class={`flex wrapper ${extraClass ?? ""}`}>
  <hr class="divider" />
  <h3 class="text">{text}</h3>
  <hr class="divider" />
</div>

<style>
  @reference "../styles/global.css";
  .wrapper {
    @apply  w-full items-center justify-between gap-3;
  }
  .divider {
    @apply flex-grow bg-black;
  }
  .text {
    @apply text-sm font-medium text-dark-gray-text;
  }
</style>