---
import { ArrowUpRight } from "@lucide/astro";
---

<div class="section-wrapper">
  <section
    id="Testimonies"
    class="flex flex-col w-full items-center border-x border-white-line"
  >
    <header
      class="section-header section-margin-top border-y border-white-line"
    >
      <h2
        class="font-bold text-3xl lg:text-5xl xl:text-6xl leading-tight text-left text-shadow-header-black"
      >
        From small freelance work to enterprise software projects.
      </h2>
    </header>
    <div class="section-margin-bottom grid grid-cols-1 md:grid-cols-2">
      <article
        class="flex flex-col justify-between p-6 gap-12 border-b border-white-line"
      >
        <p class="text-lg italic leading-relaxed">
          “My wild style needed a different approach, a website that matched
          such energy. Javier was able to understand this and deliver a
          completely unique product.”
        </p>
        <div class="flex items-center gap-8 justify-between">
          <a class="flex items-center whitespace-nowrap " rel="external" href="https://kennethandersonx.com/" target="_blank">
            <span class="font-medium">Case Study</span>
            <ArrowUpRight class="w-5 h-5" />
          </a>
          <p class="font-light text-sm italic text-right">
            Kenneth Anderson, Photographer
          </p>
        </div>
      </article>
      <div></div>
    </div>
  </section>
</div>
