---

---

<div class="section-wrapper w-full">
  <section
    id="WhatIDo"
    class="flex flex-col w-full items-end py-8 gap-8 md:py-12 md:gap-12 lg:py-16 lg:gap-16 xl:py-24 xl:gap-24 border-x border-t border-white-line"
  >
    <div
      class="flex flex-col w-full max-w-xl justify-center items-end px-6 gap-3 md:gap-4 lg:gap-5 xl:gap-6 text-end"
    >
      <h2 class="font-bold text-xl md:text-2xl text-shadow-violet">
        I make websites optimized for speed, SEO and accessibility.
      </h2>
      <h3 class="text-shadow-violet">Quality is my #1 priority.</h3>
    </div>
    <div class="section-margin-bottom"></div>
  </section>
</div>
