---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Roldan Studio</title>
    <meta
      name="description"
      content="Web Design & Development Freelancer based in Berlin."
    />
    <meta name="color-scheme" content="dark" />
    <link rel="canonical" href="https://jbroldan.dev" />
    <link
      rel="preload"
      href="/fonts/montserrat-v31-latin-500.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/montserrat-v31-latin-600.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/montserrat-v31-latin-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/montserrat-v31-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/_astro/index.DT1QHnL9.css" as="style" />
  </head>
  <body class="text-white">
    <Header />
    <main class="flex flex-col items-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>
