---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ObserverProvider from "../components/ObserverProvider";
import HeaderThemeWatcher from "../components/ObserverHeader";
import "../styles/global.css";

const { t } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <title>{t.title}</title>
    <meta name="description" content={t.description} />
    <meta name="color-scheme" content="dark" />
    <link rel="canonical" href={t.url} />
    <link rel="alternate" hreflang="en" href="https://jbroldan.dev/en" />
    <link rel="alternate" hreflang="es" href="https://jbroldan.dev/es" />
    <link rel="alternate" hreflang="de" href="https://jbroldan.dev/de" />
  </head>
  <body class="text-white">
    <Header t={t.header} />
    <HeaderThemeWatcher client:load />
    <ObserverProvider client:idle>
      <main class="flex flex-col items-center">
        <slot />
      </main>
    </ObserverProvider>
    <Footer />
  </body>
</html>
